
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #d5e4db;
    margin: 0;
    padding: 0;
    color: #333;
    page-break-inside: avoid;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    border: 5px solid #3498db;
}

.name-occupation {
    flex: 1;
}
.occupation {
    font-size: 20px;
    margin-bottom: 10px;
    color: #201536;
}
h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #0f011e;
}

p {
    font-size: 18px;
    color: #382258;
}

main {
    display: flex;
    justify-content: space-between;
}

.left-section {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.right-section {
    flex: 2;
    padding: 20px;
}

.contact, .skills, .Interships {
    margin-bottom: 20px;
    page-break-inside: avoid;
}

.contact h2, .skills h2,.Address h2, .Interships h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.contact p, .Address ul, .skills ul, .Interships p {
    font-size: 18px;
    font-family: serif;
    color: #382258;
}

.skills ul, .Interships ul, .Address ul {
    list-style: none;
    padding: 0;
}

.skills li {
    margin-bottom: 10px;
    font-weight: bold;
}

.skills li::before {
    content: "• ";
    color: #3498db;
}

.about, .projects, .education {
    margin-bottom: 20px;
    page-break-inside: avoid;
}

.about h2, .projects h2, .education h2 {
    font-size: 24px;
    color: #325697;
    margin-bottom: 10px;
}

.about p {
    font-size: 18px;
    font-family: serif;
    color: #382258;
}
.projects ul, .education ul {
    font-size: 10px;
    font-family: serif;
    color: #382258;
}
.projects ul, .education ul{
    list-style: none;
    padding: 0;
}

.projects li, .education li {
    margin-bottom: 15px;
}

.projects h3, .education h3,.interships h3  {
    font-size: 18px;
    color: #444;
    margin-bottom: 5px;
}

@page {
    size: -100in -270in;
    margin: 0;
}


body {
    background-color: rgba(191, 88, 217, 0.5); 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
    background-image: url('https://th.bing.com/th/id/OIP.0kTD-unuaAOdmQA-JMMxbgHaEK?w=328&h=184&c=7&r=0&o=5&dpr=1.3&pid=1.7'); /* Background image for the frosted glass effect */
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
}


.container {
    width: 11in; 
    height: 15in;
    background-color: #f8f4f9;
    border: 2px solid #3498db;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden; 
}

.content {
    padding: 1in; 
    
}





